<div class="menarini__network">
  <ul>
    <li class="menarini__network-follow">
      {{ 'Follow us'|t }}
    </li>
    <li>
      <a href="https://www.menarini.com" target="_blank">
        <svg class="icon icon-webiste">
          <use xlink:href="#icon-website"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.menariniblog.com" target="_blank">
        <svg class="icon icon-blog">
          <use xlink:href="#icon-blog"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://it.linkedin.com/company/menarini" target="_blank">
        <svg class="icon icon-linkedin">
          <use xlink:href="#icon-linkedin"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/user/MenariniGroup" target="_blank">
        <svg class="icon icon-youtube">
          <use xlink:href="#icon-youtube"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>


