@import 'settings';

// Button styles
//
// There are different types of buttons that can be used.
// * __Default button:__ Rectangular shaped buttons that is used in most cases.
// Does not lift (on same layer as the parent element) and should be placed cards.
// * __Flat button:__ Are text-only buttons. They should always have a color to
// distinguish them from normal text. They can be used to put less emphasis
// or visual attraction to the action. They may be used in dialogs, toolbars,
// or inline. They do not lift, but fill with color on press.
// * __Raised button:__ Rectangular-shaped buttons that behave like a piece of
// material resting on another sheet – they lift and fill with color on press.
// Raised buttons add dimension to mostly flat layouts. They emphasize functions
// on busy or wide spaces. They may be used inline. They lift and display
// ink reactions on press.
// * __Floating action button:__ A circular button that lifts.
// A floating action button is used for page-wide actions.
// ### Guidelines
//
// In the overview above we have listed many options which
// you can use to style a button. For consistency we recommend the following:
//
// * Start with a default button style and type.
// * Is your button next (left, right, below) to a card? Consider making it a raised button to put it on the same elevation level as the card.
// * Does the button need to be one level higher then card content in terms of elevation?
// Then make it a floating button. This usually means that there is no direct relationship
// with a specific card or section, but the page as a whole. An example for this would be
// to edit a node, where this button to do this is put in a block,
// but you are not only editing the block but the whole node.
// * Only when a button needs more emphasis use the primary style,
// or even the accent style. Per form or set of buttons you only
// want one emphasized button and this should be the preferred action
// in any context.
// * If you want to button to be less visible/prominent you can use a flat button style.
// You can combine this with a smaller size of course. This is mostly used when buttons
// are repeated on a page or you have limited space and other elements need more attention.
// * The succes, warning and danger buttons are inhereted from the bootstrap framework
// and aren't used in the default style. You can use them however if you indicate positive action,
// negative action or caution when interaction with the button.
//
// .btn-primary - Primary style
// .btn-accent - Accent style
// .btn-default - Default style
// .btn-flat - Flat style
//
// Markup: button.twig
//
// Weight: 4
//
// Style guide: atoms.button.style


// Button states
//
// In the examples below you can see how styling is applied when a button
// is active or disabled compared to the default state. For devices that have
// mouse interaction you can hover and find that state as well.
// These aren't available for touch devices of course.
//
// .btn-default - Default state
// .btn-default:hover - Hover state
// .btn-default.active - Active state
// .btn-default.disabled - Disabled state
//
// Markup: button.twig
//
// Style guide: Atoms.button.states
//
// Weight: 7


.btn {
  border-radius: $btn-border-radius-base;

  &.btn-floating {
    border-radius: 50%;
  }

}

.btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}

.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

.btn-secondary {
  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}


.btn-accent {
  @include button-variant($btn-accent-color, $btn-accent-bg, $btn-accent-border);
  fill: $btn-accent-color;
}

.btn-flat {
  @include button-variant($brand-primary, transparent, transparent);
  fill: $brand-primary;

  white-space: normal;

  &:hover,
  &:focus,
  .open .dropdown-toggle & {
    //border-color: transparent;
    @include button-variant(inherit, $btn-default-bg, $btn-default-border);
    color: darken($brand-primary, 10%);
    fill: darken($brand-primary, 10%);

    .icon-inline {
      fill: $default-color;
    }
  }

  &:active,
  &.active {
    background-color: rgba(12, 12, 12, 0.25);
    border-color: transparent;
    color: white;
  }

}

.btn-link {
  @include button-variant($brand-primary, transparent, transparent);

  &:hover,
  &:focus {
    color: $link-hover-color;
    fill: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

}

.btn-link[disabled] {
  &:hover,
  &:focus {
    color: $btn-link-disabled-color;
  }
}

.btn--with-bgicon {
  color: #fff;
}

.btn--facebook {
  @include button-variant(#fff, #3b5998, #3b5998);
}

.btn--linkedin {
  @include button-variant(#fff, #0077b5, #0077b5);
}

.btn--google {
  @include button-variant(#fff, #d34836, #d34836);
}

.btn--twitter {
  @include button-variant(#fff, #1da1f2, #1da1f2);
}

.btn-sm {
  border-radius: $border-radius-small;
}

.btn-xs {
  border-radius: $border-radius-extrasmall;
}

//
// Social sharing buttons
// --------------------------------------------------
.shariff-button {
  border-radius: $btn-border-radius-base;
}

//
// Social add to calendar
// --------------------------------------------------
.meta-addtocal {
  .btn {
    margin-right: 5px;
    margin-bottom: 3px;
    padding: 5px 10px;
    border-radius: 5px !important;
    font-size: 0.75rem;
    line-height: 1.5;
  }
}


.btn-men {
  @include button-variant($white, $default-color, transparent);
  font-size: 16px;
  &.btn {
    border-radius: 0!important;
  }
}

// Filter bar 
.men-trigger__filter-full {
  display: none;
}

// Load more button
.view-id-search {
  .pager .btn {
    border-color: $dark-bg;
    border-width: 2px;
    border-radius: 0!important;
    color: $dark-bg;
    font-size: 18px;
    .icon-small {
      display: none;
    }
  }
}

#men-scroll-top {
  position: fixed;
  bottom: 14%;
  right: 0;
  color: $icon-like;
  border: 0;
  background: transparent;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s ease-out;
  outline: none;
  z-index: 3;
  &.men-back_is-shown {
    visibility: visible;
    opacity: 1;
  }
  @include for-tablet-landscape-down {
    display: none;
  }
  .men-icon_wrap {
    border: 2px solid $icon-like;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 auto 10px;
  }
  .men-icon_top {
    fill: $icon-like;
    width: 35px;
    height: 35px;
    margin-top: 5px;
  }
}

// Linkedin Button
.men-linkedin__btn {
  margin-top: 0;
  @include for-tablet-landscape-up {
    margin-bottom: 1rem;
  }
  a {
    display: block;
    background: #1866C2;
    color: $white;
    @extend .font-oswald;
    font-size: 1.5rem;
    padding: 13px 22px;
    position: relative;
    text-align: center;
    padding-left: 56px;
    @media (min-width: 900px) and (max-width: 1200px) {
      font-size: 1rem;
      padding-left: 49px;
    }
    @include for-phone-only {
      font-size: 1.25rem;
      padding-left: 49px;
    }
    @include for-tablet-landscape-up {
      border-radius: 10px;
    }
  }
  svg {
    width: 35px;
    height: 34px;
    position: absolute;
    top: 10px;
    left: 20px;
    @media (min-width: 900px) and (max-width: 1200px) {
      width: 23px;
      height: 24px;
    }
    @include for-phone-only {
      width: 28px;
      height: 29px;
    }
  }
}

//Accordion button
.men-accordion--trigger {
  background: $men-link-all;
  font-size: 1.313rem;
  line-height: 1.563rem;
  padding: 10px 24px 13px 44px;
  margin-bottom: 30px;
  @extend .font-oswald-medium;
  @include on-event {
    background: $men-link-all-hover;
  }
  .field--name-field-button-label {
    display: inline-block;
    vertical-align: middle;
  }
  .icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
  }
  .men-accordion--text_close,
  .men-accordion--icon_close {
    display: none;
  }
  &.men-accordion_open {
    .men-accordion--icon_close {
      display: inline-block;
      width: 14px;
    }
    .men-accordion--text_close {
      display: inline-block;
    }
    .men-accordion--text_open,
    .men-accordion--icon_open {
      display: none;
    }
  }
}

.btn-filter-search-adv,
.btn-filter-search {
  text-transform: uppercase;
  @extend .font-oswald;
  font-size: 18px;
  &.active {
    background-image: none!important;
  }
}

.btn-filter-search-adv {
  @include for-tablet-landscape-down {
    position: absolute;
    bottom: -55px;
    right: 15px;
  }
}

.btn-filter-close {
  margin-top: 30px;
  text-decoration: underline;
  @include on-event() {
    background: transparent;
  }
  @include for-tablet-landscape-down {
    border-color:rgba(256, 256, 256, 0.25);
  }
}

.btn-filter-search-show {
  display: none;
  @include for-tablet-landscape-down {
    position: absolute;
    bottom: -55px;
    right: 15px;
  }
}

.men-btn-download {
  background: $men-link-all;
  font-size: 1.313rem;
  line-height: 1.563rem;
  padding: 10px 24px 13px 24px;
  margin-bottom: 30px;
  @extend .font-oswald-medium;
  text-transform: uppercase;
  @include on-event {
    background: $men-link-all-hover;
  }
  .men-media-attachment & {
    margin-bottom: 15px;
  }
}

.men-btn-modal {
  color: $default-color;
  font-size: 1.313rem;
  line-height: 1.563rem;
  padding: 0;
  border-bottom: 2px solid $men-link-all;
  background: $white;
  @extend .font-oswald-medium;
  text-transform: uppercase;
  @include on-event {
    background: $white;
    color: $default-color;
    border-bottom-color: $men-link-all;
  }
  .icon-modal {
    width: 40px;
    height: 20px;
    padding-bottom: 7px;
    margin-left: 10px;
  }
}

.men-media-attachment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}