@import "settings";

.field--name-field-introduction-text,
.field--name-field-featured-items-description,
.field--name-field-featured-description,
.field--name-field-accord-description,
.body-text {

  a:not(.btn) {
    text-decoration: underline;
    color: $default-color;

    &:hover {
      color: $link-hover-color;
    }
  }
}

.node-preview-container {
  position: fixed;
  right: 0;
  top: 30%;
  max-width: 100%;
  z-index: 9999;
}
